<footer>
    <h2>
        Syed Ismail
    </h2>
    <div class="portfolio-links">
        <a href="/skill">Skills</a>
        <a href="/project">Project</a>
        <a href="/service">Service</a>
        <a href="/blog">Blog</a>
    </div>
    <div class="social-media-links">
        <a href="https://github.com/ismailBinMujeeb" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/ismailbinmujeeb/" target="_blank"><i
                class="fa-brands fa-linkedin-in"></i></a>
        <a href="https://x.com/IsmailBinMujeeb" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://www.fiverr.com/s/XLw7By0" target="_blank">Fi</a>
        <a href="https://hashnode.com/@IsmailBinMujeeb" target="_blank"><i class="fa-brands fa-hashnode"></i></a>
    </div>
</footer>