<div class="form">
    <form action="/admin-login" method="post">
        <input type="email" placeholder="Admin Email" name="email" required>
        <input type="password" placeholder="Admin Password" name="password" required>
        <button type="submit">Submit</button>
    </form>
</div>