<nav>
    <ul>
        <li><a href="/skill">Skills</a></li>
        <li><a href="/project">Projects</a></li>
        <li><a href="/service">Services</a></li>
        <li><a href="/blog">Blogs</a></li>
        <li><a href="/contribution">contributions</a></li>
    </ul>
</nav>