<nav>
    <ul>
        <li><a href="/skill" target="_blank">Skills</a></li>
        <li><a href="/project" target="_blank">Projects</a></li>
        <li><a href="/service" target="_blank">Services</a></li>
        <li><a href="/blog" target="_blank">Blogs</a></li>
        <li><a href="/contribution" target="_blank">contributions</a></li>
    </ul>
</nav>